@model PM25.Models.Now
<!DOCTYPE html>
<html lang="en">
<head>
    <title>编辑</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="opensource rich wysiwyg text editor jquery bootstrap execCommand html5" />
    <meta name="description"
          content="This tiny jQuery Bootstrap WYSIWYG plugin turns any DIV into a HTML5 rich text editor" />
    <link href="~/Content/external/google-code-prettify/prettify.css" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.no-icons.min.css"
          rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-responsive.min.css"
          rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css" rel="stylesheet">
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Content/external/jquery.hotkeys.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Content/external/google-code-prettify/prettify.js"></script>
    <link href="~/Content/indexWYS.css" rel="stylesheet">
    <script src="~/Scripts/bootstrap-wysiwyg.js"></script>
</head>
<body style="margin:8px">
    <h2 style="background-color:#2a2828;color:white;margin:2px -8px">编辑</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Now</h4>
            <hr />
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.ID)

            <div class="form-group">
                @Html.LabelFor(model => model.title)
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.title)
                    @Html.ValidationMessageFor(model => model.title)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.summary)
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.summary)
                    @Html.ValidationMessageFor(model => model.summary)
                </div>
            </div>

            <div class="form-group">
                <label for="downloadURL">downloadName</label>
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.downloadURL)
                    @Html.ValidationMessageFor(model => model.downloadURL)
                </div>
            </div>
            <div class="form-group">
                <div class="container">
                    <div class="hero-unit">
                        <div>
                            <a id="get-title">拉取title</a>&nbsp;&nbsp;&nbsp;
                            <a id="get-summary">拉取summary</a>&nbsp;&nbsp;&nbsp;
                            <a id="get-downloadURL">拉取downloadName</a>&nbsp;&nbsp;&nbsp;
                        </div>
                        <h1 style="font-size:28px">
                            文本编辑<br />
                            <small style="font-size:16px">请输入内容：</small>
                        </h1>
                        <hr />
                        <div id="alerts"></div>
                        <div class="btn-toolbar" data-role="editor-toolbar" data-target="#editor">
                            <div class="btn-group">
                                <a class="btn dropdown-toggle" data-toggle="dropdown" title="Font">
                                    <i class="icon-font"></i><b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu"></ul>
                            </div>
                            <div class="btn-group">
                                <a class="btn dropdown-toggle" data-toggle="dropdown" title="Font Size">
                                    <i class="icon-text-height"></i>&nbsp;<b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a data-edit="fontSize 5"><font size="5">Huge</font></a></li>
                                    <li><a data-edit="fontSize 3"><font size="3">Normal</font></a></li>
                                    <li><a data-edit="fontSize 1"><font size="1">Small</font></a></li>
                                </ul>
                            </div>
                            <div class="btn-group">
                                <a class="btn" data-edit="bold" title="Bold (Ctrl/Cmd+B)"><i class="icon-bold"></i></a>
                                <a class="btn" data-edit="italic" title="Italic (Ctrl/Cmd+I)"><i class="icon-italic"></i></a>
                                <a class="btn" data-edit="strikethrough" title="Strikethrough"><i class="icon-strikethrough"></i></a>
                                <a class="btn" data-edit="underline" title="Underline (Ctrl/Cmd+U)"><i class="icon-underline"></i></a>
                            </div>
                            <div class="btn-group">
                                <a class="btn" data-edit="insertunorderedlist" title="Bullet list"><i class="icon-list-ul"></i></a>
                                <a class="btn" data-edit="insertorderedlist" title="Number list"><i class="icon-list-ol"></i></a>
                                <a class="btn" data-edit="outdent" title="Reduce indent (Shift+Tab)">
                                    <i class="icon-indent-left"></i>
                                </a>
                                <a class="btn" data-edit="indent" title="Indent (Tab)"><i class="icon-indent-right"></i></a>
                            </div>
                            <div class="btn-group">
                                <a class="btn" data-edit="justifyleft" title="Align Left (Ctrl/Cmd+L)">
                                    <i class="icon-align-left"></i>
                                </a>
                                <a class="btn" data-edit="justifycenter" title="Center (Ctrl/Cmd+E)">
                                    <i class="icon-align-center"></i>
                                </a>
                                <a class="btn" data-edit="justifyright" title="Align Right (Ctrl/Cmd+R)">
                                    <i class="icon-align-right"></i>
                                </a>
                                <a class="btn" data-edit="justifyfull" title="Justify (Ctrl/Cmd+J)">
                                    <i class="icon-align-justify"></i>
                                </a>
                            </div>
                            <div class="btn-group">
                                <a class="btn dropdown-toggle" data-toggle="dropdown" title="Hyperlink"><i class="icon-link"></i></a>
                                <a class="btn" data-edit="unlink" title="Remove Hyperlink"><i class="icon-cut"></i></a>

                            </div>

                            <div class="btn-group">
                                <a class="btn" title="Insert picture (or just drag & drop)" id="pictureBtn"><i class="icon-picture"></i></a>
                                <input type="file" data-role="magic-overlay" data-target="#pictureBtn" data-edit="insertImage" />
                            </div>
                            <div class="btn-group">
                                <a class="btn" data-edit="undo" title="Undo (Ctrl/Cmd+Z)"><i class="icon-undo"></i></a>
                                <a class="btn" data-edit="redo" title="Redo (Ctrl/Cmd+Y)"><i class="icon-repeat"></i></a>
                            </div>
                            <input type="text" data-edit="inserttext" id="voiceBtn" x-webkit-speech="">
                        </div>

                        <div id="editor">
                            ***请先拉取，再编辑修改数据***<br />
                            ***请先置入，再提交到数据库***
                        </div>
                        <div>
                            <a id="input-title">置入title</a>&nbsp;&nbsp;&nbsp;
                            <a id="input-summary">置入Summary</a>&nbsp;&nbsp;&nbsp;
                            <a id="input-downloadURL">置入downloadName</a>&nbsp;&nbsp;&nbsp;
                        </div>
                    </div>
                    <script>
                        $("#input-title").click(function () {
                            $("#title").val(editor.innerHTML);
                            editor.innerHTML = "";
                        })
                        $("#input-summary").click(function () {
                            $("#summary").val(editor.innerHTML);
                            editor.innerHTML = "";
                        })
                        $("#input-downloadURL").click(function () {
                            $("#downloadURL").val(editor.innerHTML);
                            editor.innerHTML = "";
                        })
                        $("#get-title").click(function () {
                            editor.innerHTML = $("#title").text();
                        })
                        $("#get-summary").click(function () {
                            editor.innerHTML = $("#summary").text();
                        })
                        $("#get-downloadURL").click(function () {
                            editor.innerHTML = $("#downloadURL").text();
                        })
                        $(function () {
                            function initToolbarBootstrapBindings() {
                                var fonts = ['Serif', 'Sans', 'Arial', 'Arial Black', 'Courier',
                                            'Courier New', 'Comic Sans MS', 'Helvetica', 'Impact', 'Lucida Grande', 'Lucida Sans', 'Tahoma', 'Times',
                                            'Times New Roman', 'Verdana'],
                                        fontTarget = $('[title=Font]').siblings('.dropdown-menu');
                                $.each(fonts, function (idx, fontName) {
                                    fontTarget.append($('<li><a data-edit="fontName ' + fontName + '" style="font-family:\'' + fontName + '\'">' + fontName + '</a></li>'));
                                });
                                $('a[title]').tooltip({ container: 'body' });
                                $('.dropdown-menu input').click(function () {
                                    return false;
                                })
                                        .change(function () {
                                            $(this).parent('.dropdown-menu').siblings('.dropdown-toggle').dropdown('toggle');
                                        })
                                        .keydown('esc', function () {
                                            this.value = '';
                                            $(this).change();
                                        });

                                $('[data-role=magic-overlay]').each(function () {
                                    var overlay = $(this), target = $(overlay.data('target'));
                                    overlay.css('opacity', 0).css('position', 'absolute').offset(target.offset()).width(target.outerWidth()).height(target.outerHeight());
                                });
                                if ("onwebkitspeechchange" in document.createElement("input")) {
                                    var editorOffset = $('#editor').offset();
                                    $('#voiceBtn').css('position', 'absolute').offset({
                                        top: editorOffset.top,
                                        left: editorOffset.left + $('#editor').innerWidth() - 35
                                    });
                                } else {
                                    $('#voiceBtn').hide();
                                }
                            };
                            function showErrorAlert(reason, detail) {
                                var msg = '';
                                if (reason === 'unsupported-file-type') {
                                    msg = "Unsupported format " + detail;
                                }
                                else {
                                    console.log("error uploading file", reason, detail);
                                }
                                $('<div class="alert"> <button type="button" class="close" data-dismiss="alert">&times;</button>' +
                                        '<strong>File upload error</strong> ' + msg + ' </div>').prependTo('#alerts');
                            };
                            initToolbarBootstrapBindings();
                            $('#editor').wysiwyg({ fileUploadError: showErrorAlert });
                            window.prettyPrint && prettyPrint();
                        });
                    </script>
                    <div id="fb-root"></div>
                    <script>
                        (function (i, s, o, g, r, a, m) {
                            i['GoogleAnalyticsObject'] = r;
                            i[r] = i[r] || function () {
                                (i[r].q = i[r].q || []).push(arguments)
                            }, i[r].l = 1 * new Date();
                            a = s.createElement(o),
                                    m = s.getElementsByTagName(o)[0];
                            a.async = 1;
                            a.src = g;
                            m.parentNode.insertBefore(a, m)
                        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
                        ga('create', 'UA-37452180-6', 'github.io');
                        ga('send', 'pageview');
                    </script>
                    <script>
                        (function (d, s, id) {
                            var js, fjs = d.getElementsByTagName(s)[0];
                            if (d.getElementById(id)) return;
                            js = d.createElement(s);
                            js.id = id;
                            js.src = "http://connect.facebook.net/en_GB/all.js#xfbml=1";
                            fjs.parentNode.insertBefore(js, fjs);
                        }(document, 'script', 'facebook-jssdk'));
                    </script>

                    <script>
                        !function (d, s, id) {
                            var js, fjs = d.getElementsByTagName(s)[0];
                            if (!d.getElementById(id)) {
                                js = d.createElement(s);
                                js.id = id;
                                js.src = "http://platform.twitter.com/widgets.js";
                                fjs.parentNode.insertBefore(js, fjs);
                            }
                        }(document, "script", "twitter-wjs");</script>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="提交到数据库" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("返回", "Index")
    </div>
    <style>
        #summary {
            width: 500px;
            height: 60px;
        }

        #title {
            width: 500px;
            height: 60px;
        }

        #downloadURL {
            width: 500px;
            height: 60px;
        }
    </style>
</body>
</html>