@model IEnumerable<PM25.Models.Infra>

<title>红外热医学应用</title>
<h2 style="background-color:#2a2828;color:white;font-size:31.5px;line-height:40px;margin:2px -8px">红外热医学应用库</h2>

<p>
    @Html.ActionLink("添加", "Create")
</p>
<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.summary)
        </th>

        <th>操作</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.summary)
            </td>

            <td>
                @Html.ActionLink("编辑", "Edit", new { id = item.ID }) |
                @Html.ActionLink("查看", "Details", new { id = item.ID }) |
                @Html.ActionLink("删除", "Delete", new { id = item.ID })
            </td>
        </tr>
    }
</table>
<br />
@Html.ActionLink("返回索引页", "Index", "Data")