@model PM25.Controllers.HomeController.NEWModel
@{
    ViewBag.Title = "新闻动态";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/Summary.css")
<div class="con-L">
    <h1>
        <span class="title">百科知识</span>
        <span class="more">@Html.ActionLink("MORE", "More", "Home")</span>
    </h1>
    <ul>
        @foreach (var n in Model.Pedias)
        {
            ViewBag.i++;
            if (ViewBag.i > 12) { break; }
            <li><nobr><a href="/More/Show/@n.ID">@MvcHtmlString.Create(n.title)</a></nobr></li>
        }
    </ul>
</div>
<div class="con-R">
    <ul>
        @foreach (var item in Model.News)
        {
            <li>
                <div class="R"><div class="img">@MvcHtmlString.Create(item.img)</div></div>
                <p>
                    @MvcHtmlString.Create(item.summary)<span><a href="/Summary/DetailNEW/@item.ID">【全文】</a></span>
                </p>
            </li>
        }
    </ul>
</div>