@model PM25.Controllers.HomeController.NowModel
@{
    ViewBag.Title = "Now";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/Now.css")
         <div class="con-L">
                <h1>
                     <span class="title">百科知识</span>
                     <span class="more">@Html.ActionLink("MORE", "More", "Home")</span>
                </h1>
                <ul>
                    @foreach (var n in Model.Pedias)
                    {
                        ViewBag.i++;
                        if (ViewBag.i > 12)
                        {
                            break;
                        }
                    <li><nobr><a href="/More/Show/@n.ID">@MvcHtmlString.Create(n.title)</a>
                        </nobr></li>
                }
                </ul>
            </div>
           <div class="con-R">
               <ul class="text">
                   
                       @foreach (var n in Model.Nows)
                       {
                        
                        <li>
                           <h4> @MvcHtmlString.Create(n.title)</h4>
                            <button>
                                下载全文
                            </button>                                               
                            <p>
                            @MvcHtmlString.Create(n.summary)
                            </p>
                        </li>                                             
                   }
                   </ul>
               
               </div>
                   
                
@*</div>
        
<ul class="text">
            <li class="list-text">
                <h4>石家庄公布雾霾元凶 燃煤扬尘是首要污染源</h4>
                <button class="btn">下载全文</button>
                <p>
                    环境空气颗粒物来源解析成果的研究有助于查找当地雾霾“元凶”，
                    不仅可以找出大气颗粒物来源，更可以通过监测颗粒物源的结构变
                    化对治霾工作做出评价指导。
                </p>
            </li>
            <li>
                <h4>石家庄公布雾霾元凶 燃煤扬尘是首要污染源</h4>
                <button class="btn">下载全文</button>
                <p>
                    环境空气颗粒物来源解析成果的研究有助于查找当地雾霾“元凶”，
                    不仅可以找出大气颗粒物来源，更可以通过监测颗粒物源的结构变
                    化对治霾工作做出评价指导。
                </p>
                <p>
                    雾霾对人体最直接、影响最大的莫过于对呼吸系统造成的伤害了。本身患有呼吸
                    系统疾病的人，长期处于雾霾环境中，容易导致慢性阻塞性肺炎病或哮喘的加重，
                    对肺部造成不良影响，雾霾也会让健康人群出现咳嗽、咽喉肿痛等病症。
                </p>
                <p>
                    此外，雾霾也会引发心血管系统及内分泌系统的疾病，可能会出现呼吸困难、胸闷、
                    心悸等不良症状。人运动的时候会增加耗氧量，就会增加呼吸的频率，
                    也就会吸入更多的空气。在雾霾天进行户外运动会让人的肺活量增大，
                    从而吸入更多的PM2.5，沉积到肺泡里无法排出体外，所以雾霾天是不建议进行户
                    外运动的。
                </p>
            </li>
            <li>
                <h4>石家庄公布雾霾元凶 燃煤扬尘是首要污染源</h4>
                <button class="btn">下载全文</button>
                <p>
                    环境空气颗粒物来源解析成果的研究有助于查找当地雾霾“元凶”，
                    不仅可以找出大气颗粒物来源，更可以通过监测颗粒物源的结构变
                    化对治霾工作做出评价指导。
                </p>
            </li>
            <li>
                <h4>石家庄公布雾霾元凶 燃煤扬尘是首要污染源</h4>
                <button class="btn">下载全文</button>
                <p>
                    环境空气颗粒物来源解析成果的研究有助于查找当地雾霾“元凶”，
                    不仅可以找出大气颗粒物来源，更可以通过监测颗粒物源的结构变
                    化对治霾工作做出评价指导。
                </p>
            </li>
            <li>
                <h4>石家庄公布雾霾元凶 燃煤扬尘是首要污染源</h4>
                <button class="btn">下载全文</button>
                <p>
                    环境空气颗粒物来源解析成果的研究有助于查找当地雾霾“元凶”，
                    不仅可以找出大气颗粒物来源，更可以通过监测颗粒物源的结构变
                    化对治霾工作做出评价指导。
                </p>
            </li>
            <li>
                <h4>石家庄公布雾霾元凶 燃煤扬尘是首要污染源</h4>
                <button class="btn">下载全文</button>
                <p>
                    环境空气颗粒物来源解析成果的研究有助于查找当地雾霾“元凶”，
                    不仅可以找出大气颗粒物来源，更可以通过监测颗粒物源的结构变
                    化对治霾工作做出评价指导。
                </p>
            </li>
            <li>
                <h4>石家庄公布雾霾元凶 燃煤扬尘是首要污染源</h4>
                <button class="btn">下载全文</button>
                <p>
                    环境空气颗粒物来源解析成果的研究有助于查找当地雾霾“元凶”，
                    不仅可以找出大气颗粒物来源，更可以通过监测颗粒物源的结构变
                    化对治霾工作做出评价指导。
                </p>
            </li>
            <li>
                <h4>石家庄公布雾霾元凶 燃煤扬尘是首要污染源</h4>
                <button class="btn">下载全文</button>
                <p>
                    环境空气颗粒物来源解析成果的研究有助于查找当地雾霾“元凶”，
                    不仅可以找出大气颗粒物来源，更可以通过监测颗粒物源的结构变
                    化对治霾工作做出评价指导。
                </p>
            </li>
            <li>
                <h4>石家庄公布雾霾元凶 燃煤扬尘是首要污染源</h4>
                <button class="btn">下载全文</button>
                <p>
                    环境空气颗粒物来源解析成果的研究有助于查找当地雾霾“元凶”，
                    不仅可以找出大气颗粒物来源，更可以通过监测颗粒物源的结构变
                    化对治霾工作做出评价指导。
                </p>
            </li>
        </ul>*@
