@{
    ViewBag.Title = "红外热医学应用";
}
@{
    Layout = "~/Views/Shared/_Layout0.cshtml";
}

@Styles.Render("~/Content/Summary.css")

<ul>
    <li>
        <div class="R"><div class="img"><img src="../Content/Img/back.jpg"></div></div>
        <p>
            if在污染源相对稳定的情况下，城市的空气污染在很大的程度上也会受到当地气象和地形条件的影响,不同气象及地形对于区域环境的影响是显而易见的。
            <span>@Html.ActionLink("【全文】", "DetailIF", "Summary")</span>
        </p>
    </li>
    <li>
        <div class="R"><div class="img"><img src="../Content/Img/back.jpg"></div></div>
        <p>
            在污染源相对稳定的情况下，城市的空气污染在很大的程度上也会受到当地气象和地形条件的影响,不同气象及地形对于区域环境的影响是显而易见的。
            <span>@Html.ActionLink("【全文】", "Detail", "Summary")</span>
        </p>
    </li>
    <li>
        <div class="R"><div class="img"><img src="../Content/Img/back.jpg"></div></div>
        <p>
            在污染源相对稳定的情况下，城市的空气污染在很大的程度上也会受到当地气象和地形条件的影响,不同气象及地形对于区域环境的影响是显而易见的。
            <span>@Html.ActionLink("【全文】", "Detail", "Summary")</span>
        </p>
    </li>
    <li>
        <div class="R"><div class="img"><img src="../Content/Img/back.jpg"></div></div>
        <p>
            在污染源相对稳定的情况下，城市的空气污染在很大的程度上也会受到当地气象和地形条件的影响,不同气象及地形对于区域环境的影响是显而易见的。
            <span>@Html.ActionLink("【全文】", "Detail", "Summary")</span>
        </p>
    </li>
    <li>
        <div class="R"><div class="img"><img src="../Content/Img/back.jpg"></div></div>
        <p>
            在污染源相对稳定的情况下，城市的空气污染在很大的程度上也会受到当地气象和地形条件的影响,不同气象及地形对于区域环境的影响是显而易见的。
            <span>@Html.ActionLink("【全文】", "Detail", "Summary")</span>
        </p>
    </li>
    <li>
        <div class="R"><div class="img"><img src="../Content/Img/back.jpg"></div></div>
        <p>
            在污染源相对稳定的情况下，城市的空气污染在很大的程度上也会受到当地气象和地形条件的影响,不同气象及地形对于区域环境的影响是显而易见的。
            <span>@Html.ActionLink("【全文】", "Detail", "Summary")</span>
        </p>
    </li>
</ul>


