@model PM25.Models.New
<title>查看</title>
<h2 style="background-color:#2a2828;color:white;font-size:31.5px;line-height:40px;margin:2px -8px">查看</h2>
<div>
    <h4>New</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.img)
        </dt>

        <dd>
            @MvcHtmlString.Create(@Model.img)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.summary)
        </dt>

        <dd>
            @MvcHtmlString.Create(@Model.summary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.detail)
        </dt>

        <dd>
            @MvcHtmlString.Create(@Model.detail)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("编辑", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("返回", "Index")
</p>
