
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0,minimum-scale：1.0,user-scalable=no">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/Site.css")
</head>
<body>
    <div class="header">
        <div class="title"><h1>河北省科普展教资源开发原创与共享科普专项项目</h1></div>
        <div class="logo">
            <img src="../Content/Img/logo.jpg">
        </div>
        <div class="navigation-bar">
            <h2>关注我们的健康</h2>
            <ul>
                <li>@Html.ActionLink("首页", "Index", "Home")</li>
                <li>@Html.ActionLink("体温与疾病", "BodyTem", "Home")</li>
                <li>@Html.ActionLink("红外热医学应用", "Infrared", "Home")</li>
                <li>@Html.ActionLink("前沿研究", "Now", "Home")</li>
                <li>@Html.ActionLink("新闻动态", "New", "Home")</li>
            </ul>
        </div>
    </div>
    <!--以上为Header部分-->
    <div class="render-body">
        <div class="con-L">
            <h1>
                <span class="title">百科知识</span>
                <span class="more">@Html.ActionLink("MORE", "More_info", "Home")</span>
            </h1>
            <ul>
                <li>雾霾天应该停止所有的健身锻炼吗？</li>
                <li>家用PM2.5检测仪测量的数据不靠谱</li>
                <li>严重雾霾天，还能继续佩戴隐形眼镜</li>
                <li>什么时段、什么季节PM2.5浓度最高？</li>
                <li>24小时内我们吸入了多少PM2.5？</li>
                <li>为什么冬季供暖对空气的污染贡献..</li>
                <li>车载净化器能去除车内的PM2.5吗？</li>
                <li>商场内的空气很伤人</li>
                <li>雾霾为什么会影响能见度？</li>
                <li>外界的气象条件会对雾霾产生怎样.</li>
                <li>防雾霾这些你都做对了吗？盘点防.</li>
                <li>露天烧烤：潜在危害知多少</li>
            </ul>
        </div>
        <div class="con-R">
            @RenderBody()
        </div>
    </div>
    <div class="footer">
        <h2>欢迎您访问我们的科普网站</h2>
        <img src="../Content/Img/logo_2.gif">
        <p>
            正确认识大气环境污染，了解PM2.5指标的相关概念，对保护人们的身体健康，预防和减少污染危害具有 重要意义。但大量的专业术语和晦涩难懂的专业领域知识使得人们对这一问题望而却步，对人们了解和掌握
            相关概念及知识造成了一定的障碍。如何使更多的人民群众对大气环境污染加深认识，了解并掌握其预防和 治理的相关知识，是目前环境治理的一项重要课题。本课题计划利用计算机网络这种应用广泛的信息传输工
            具，建立一个PM2.5相关知识介绍的科普网站。该网站使用图片，声音和视频等多媒体手段，以深入浅出的 方式宣传PM2.5相关概念和知识。本网站实施后能让广大人民群众很方便地了解PM2.5的危害、形成原因、
            防治措施等知识，倡议大家从自身做起为减少PM2.5做出自己的努力，为实现绿色地球做出贡献。
        </p>
    </div>
</body>
</html>
